.social-media-button {
  border: 2px solid currentColor; /* Outline color */
  border-radius: 5px; /* 5px rounded corners */
  background-color: transparent; /* Same as the background of the main page */
  color: inherit; /* Inherit text color */
  cursor: pointer; /* Pointer cursor */
  width: 112px;
  height: 30px;
  font-size: 12px;
  justify-content: center;
}

.social-media-button:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Optional: Add a hover effect */
}

.dark-mode {
  color: white; /* Text color for dark mode */
}

.light-mode {
  color: #141619; /* Text color for light mode */
}

.social-media-icon {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-right: 5px;
}